<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:name="com.iiitd.hammad13060.trackme.GenericApplication"
    package="com.iiitd.hammad13060.trackme">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.iiitd.hammad13060.trackme.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.iiitd.hammad13060.trackme.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_rs8zq47Tgsb2rfnFgI0OtaVopXjBRxU" />


        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".cloudeMessaging.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".cloudeMessaging.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.NoActionBar" >
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
        </activity>


        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.NoActionBar">

            <!--
        intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter
            -->

        </activity>
        <activity
            android:name=".activities.ProcessingActivity"
            android:label="@string/title_activity_processing"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.NoActionBar" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.NoActionBar" />

        <service
            android:name=".services.ContactListUpdateService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.TestActivity" />


        <activity android:name=".SourceDestinationClasses.Source" />

        <activity android:name=".SourceDestinationClasses.SelectContacts" />
        <activity android:name=".SourceDestinationClasses.MyDestination" />

        <service
            android:name=".services.JourneyService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".BroadCastReceivers.CurrentLocationReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>


        <activity android:name=".SourceDestinationClasses.LoadingScreen" >

            </activity>
        <activity android:name=".SourceDestinationClasses.SourceDestinationUI" />
        <activity android:name=".SourceDestinationClasses.CurrentSource"></activity>

        <receiver
            android:name=".BroadCastReceivers.JourneyReadyReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".cloudeMessaging.RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".splash.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.JourneyActivity"
            android:label="@string/title_activity_journey"
            android:theme="@style/MyMaterialTheme" />

        <service
            android:name=".Geofencing.GeofenceTransitionsIntentService"
            android:exported="false" />

        <receiver
            android:name=".BroadCastReceivers.DestinationReachedReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.ContactListUpdateIntentService"
            android:exported="false" />

        <receiver
            android:name=".BroadCastReceivers.ContactListUpdatedReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

    </application>

</manifest>
